/* CUSTOM PROPS */
:root {
  --accent-color: #5267DF;
  --accent-color-red: #FA5959;
  --text-color-dark: #242A45;
  --text-color: #9194A2;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}


/* PLACEHOLDER-STYLES */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1145px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 125px;
}

.sitenav {
  display: flex;
  align-items: center;  
}

.site-logo__black {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.site-logo {
  display: block;
  width: 149px;
  height: 25px;
  object-fit: cover;
}

.site-logo:hover {
  opacity: 0.8;
}

.site-logo:active {
  opacity: 0.6;
}

.sitenav__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.sitenav__item {
  margin-right: 48px;
  list-style: none;
}

.sitenav__link {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  color: var(--text-color-dark);
  text-decoration: none;
}

.sitenav__link:hover {
  opacity: 0.8;
}

.sitenav__link:active {
  opacity: 0.6;
}

.sitenav__button {
  margin: 0;
  padding: 0;
  padding: 12px 33px;
  border-radius: 5px;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  background-color: var(--accent-color-red);
  color: #fff;
  text-decoration: none;
}

.sitenav__button:hover {
  opacity: 0.8;
}

.sitenav__button:active {
  opacity: 0.6;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
